<!DOCTYPE html>
<html lang="en" ng-app="aptitoApp">
<head>
    <meta charset="UTF-8">
    <title>Aptito</title>
    <link rel="stylesheet" type="text/css" href="css/datatables.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="node_modules/angularjs-datepicker/dist/angular-datepicker.min.css"/>
</head>
<body>

<div class="content" ng-controller="ordersCtrl">
    <div class="header">
        <div class="header-title">By menu items</div>
        <div class="header-filters">
            <div class="order-range-picker">
                <div class="date-range-row">
                    <datepicker date-format="dd/MM/yyyy">
                        Date from
                        <input ng-model="fromDate" class="js-date-range" id="date-range-from" type="text"/>
                        <label for="date-range-from"><img class="data-image" src="images/calendar.png"/></label>
                        <a ng-show="fromDate" ng-click="fromDate=''" href="#" class="input-clear" title="Clear"></a>
                    </datepicker>
                </div>
                <div class="date-range-row">
                    <datepicker date-format="dd/MM/yyyy">
                        Date to
                        <input ng-model="toDate" class="js-date-range" id="date-range-to" type="text"/>
                        <label for="date-range-to"><img class="data-image" src="images/calendar.png"/></label>
                        <a ng-show="toDate" ng-click="toDate=''" href="#" class="input-clear" title="Clear"></a>
                    </datepicker>
                </div>
            </div>
        </div>
        <div class="header-errors" ng-show="error">
            {{error}}
        </div>
    </div>
    <div class="orders_list">
        <table id="menu_items_table" class="display dataTable" cellspacing="0" width="100%" style="width: 100%;">
            <thead>
            <tr>
                <th class="sorting"
                    ng-click="sort('name')"
                    ng-class="{sorting_asc: sortType == 'name' && sortReverse == false, sorting_desc: sortType == 'name' && sortReverse == true}"
                >
                    Item
                </th>
                <th class="sorting"
                    ng-click="sort('amount')"
                    ng-class="{sorting_asc: sortType == 'amount' && sortReverse == false, sorting_desc: sortType == 'amount' && sortReverse == true}"
                >
                    Amount
                </th>
                <th class="right-align sorting"
                    ng-click="sort('gross_sales')"
                    ng-class="{sorting_asc: sortType == 'gross_sales' && sortReverse == false, sorting_desc: sortType == 'gross_sales' && sortReverse == true}"
                >
                    Gross Sales
                </th>
                <th class="right-align sorting"
                    ng-click="sort('tax')"
                    ng-class="{sorting_asc: sortType == 'tax' && sortReverse == false, sorting_desc: sortType == 'tax' && sortReverse == true}"
                >
                    Tax
                </th>
                <th class="right-align sorting"
                    ng-click="sort('net_sales')"
                    ng-class="{sorting_asc: sortType == 'net_sales' && sortReverse == false, sorting_desc: sortType == 'net_sales' && sortReverse == true}"
                >
                    Net Sales
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in orderItems | orderBy:sortType:sortReverse">
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td class="right-align">{{item.gross_sales | currency:'$ '}}</td>
                <td class="right-align"
                    ng-class="{orange_cell: item.tax > 0}"
                >{{-item.tax | currency:'$ '}}</td>
                <td class="right-align">{{item.net_sales | currency:'$ '}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>All orders - {{orderItems.length}}</th>
                <th>{{getColumnTotal('amount')}}</th>
                <th class="right-align">{{getColumnTotal('gross_sales')| currency:'$ '}}</th>
                <th class="right-align"
                    ng-class="{orange_cell: getColumnTotal('tax') > 0}"
                >
                    {{-getColumnTotal('tax') | currency:'$ '}}
                </th>
                <th class="right-align">{{getColumnTotal('net_sales') | currency:'$ '}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="node_modules/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>