body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.content {
    margin: 25px 15px 25px 35px;
}
.header-title{
    color: #636B7A;
    font-size: 24px;
    font-weight: bold;
    float: left;
}
.header-filters {
    float: left;
    margin-left: 320px;
}
.header-errors{
    border: 1px solid #ffaaaa;
    color: #ff7676;
    padding: 5px;
    border-radius: 3px;
    margin-top: 3px;
    display: inline-block;
}
.header {
    padding: 15px 0;
    height: 30px;
}

.order-range-picker{
    color: #828694;
    font-size: 16px;
}
.order-range-picker input{
    color: #828694;
    font-size: 16px;
    width: 100px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    height: 18px;
    padding: 5px 6px;
    margin-left: 5px;
}
.date-range-row{
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.order-range-picker .data-image{
    position: relative;
    top: 6px;
}
.input-clear{
    background: url(../images/close_button_icon.png) no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 14px;
    right: 34px;
}